doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(src="/js/vendor/jquery/jquery.js")
    script(src="/js/vendor/jsplumb/build/js/jquery.jsplumb-1.4.1-all.js")
    script(src="/js/main.js")